input.ng-touched.ng-invalid {
    border-color: #c71a1a;
}

#top-part {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

#top-actions-details-div {
    float:left; 
}
#top-actions-details-div input {
    width: 465px;
    font-size: 1.4em;
}

#top-action-btns-div {
    float:right;
    margin: 23px 0px 23px 0px;
}
#top-action-btns-div button{
    margin: 0px 17px;
}
.wapix-icon {
    margin-right: 10px;
}
.wapix-rules {
    padding: 0px 15px;
}

/* Styles for the Q/A configuration */
.qa-element {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
.small-padding {
    padding: 0px 5px 5px 5px;
}
.time-in {
    margin-left: 5px;
    width : 50px;
}
.points-in {
    margin-left: 10px;
    width : 60px;
}
.game-in {
    margin-left: 5px;
    width : 130px;
}
.answer-types-select {
    height: 33px;
    margin: 0px 15px 0px 7px;
}
.answer-in {
    width: 390px;
}
.answer-valid-label {
    margin-left: 10px;
}

.add-question-btn {
    margin: 25px 0px;
}
.remove-answer-btn {
    height: 20px;
    border-radius: 50%;
    color: white;
    margin-left: 10px;
    border: none;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
.remove-question-btn-div {
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    margin:15px 15px;
}