#body {
    margin-top: 67px;
    padding: 8px 16px 0px 16px;
}

#first-div {
    display: inline-block;
    width: 100%;
}

#title {
    float: left;
    color: #077C9A;
}
#new-wapix-btn {
    font-weight: bold;
    float:right;
    margin: 10px 0px 10px 0px;
    background-color: #40A8C4;
}
#new-wapix-btn:hover {
    background-color: #2d7a8f;
}

#add-icon {
    margin-right: 10px;
}