<app-navigation-bar></app-navigation-bar>

<div class="body-div">

    <!-- header -->
    <div id="first-div">
        <h1 id="title">Mis Wapix</h1>
        <button id="new-wapix-btn" class="btn wapix-btn-light-blue">
            <fa-icon id="add-icon" [icon]="faPlusCircle"></fa-icon>Nuevo Wapix
        </button>
    </div>

    <!-- div to show if you DO NOT have Wapix -->
    <div *ngIf="wapixes.length == 0" id="wapix-blank-list-div" class="text-center">
        <fa-icon id="fa-icon-surprise" [icon]="faSurprise"></fa-icon>
        <h2>¡No tienes Wapix aún!</h2>
    </div>

    <!-- div to show if you DO have Wapix -->
    <div *ngIf="wapixes.length != 0" id="wapix-list-div">
        <div class="wapix-list-element-div" *ngFor="let wapix of wapixes">
            <div class="wapix-list-details-div">
                <h2>{{wapix.name}}</h2>
                <div class="wapix-details-div">
                    <h3>Preguntas: {{wapix.questions.length}}</h3>
                    <p>Última modificación: {{wapix.lastUpdate}}</p>
                </div>
            </div>
            
            <div class="wapix-list-buttons-div">
                <a routerLink="" class="btn wapix-btn-yellow action-btn">
                    <fa-icon class="wapix-fa-icon" [icon]="faPlayCircle"></fa-icon>
                    <p class="wapix-btn-title">Jugar</p>
                </a>

                <a routerLink="{{wapix._id}}" class="btn wapix-btn-light-blue action-btn">
                    <fa-icon class="wapix-fa-icon edit-fa-icon" [icon]="faEdit"></fa-icon>
                    <p class="wapix-btn-title">Editar</p>
                </a>
                
                <a routerLink="" class="btn wapix-btn-red action-btn">
                    <fa-icon class="wapix-fa-icon" [icon]="faTrashAlt"></fa-icon>
                    <p class="wapix-btn-title">Borrar</p>
                </a>
            </div>
        </div>
    </div>
    
</div>