<div class="body-div">
    <div class=center>
        <div id="pin-div">
            <h3>¡A jugar!</h3>
            <h4>PIN: {{wapixCode}}</h4>
        </div>
    
        <div id="players-num-div">
            <h4>0</h4>
            <h4>jugadores</h4>
        </div>
    
        <div class="players-container">
            <div id="players-container">
                <ul>
                    
                </ul>
            </div>  
        </div>
        
        <a routerLink="../.." class="btn wapix-btn-red left" type="button" (click)="exitClick()"> <fa-icon class="wapix-fa-icon" [icon]="faDoorOpen"></fa-icon> Salir</a>

        <a routerLink="question/1" class="btn wapix-btn-yellow right" type="button"> <fa-icon class="wapix-fa-icon" [icon]="faGamepad"></fa-icon> Comenzar</a>
    </div>
</div>


<iframe width="10" height="10" title="SHITTYFLUTED"
src="https://www.youtube.com/embed/Q9-fYdy12PY?autoplay=1&loop=1&controls=1">
</iframe>