/* DIV */
.center{
    margin-left: 15%;
    margin-right: 15%;
}

/* PIN DETAILS */
#pin-div {
    display: inline-block;
}
#pin-div h3 {
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
}
#pin-div h4 {
    font-size: 2em;
}

/* PLAYER QUANTITY DETAILS */
#players-num-div {
    margin-top: 30px;
    float: right;
    text-align: center;
}
#players-num-div h4{
    font-size: 1.7em;
}

/* PLAYERS USERNAMES CONTAINER */
.players-container {
    background-color: #26acce;
    border-radius: 5px;
    color: white;
}
#players-container {
    height: 350px;
}

/* other components */

ul {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;

    li {
        display:inline-block;
        list-style: none;
        padding-top: 20px;
        padding-right: 40px;
        font-size: 25px;
    }
}

h3 {
    color:  #04657E;
}

h4 {
    color: black;
}

.btn {
    margin-top: 20px;
    font-size: 1.5em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wapix-fa-icon {
    font-size: 1em;
    margin: 0;
}