<nav class="navbar navbar-expand-lg fixed-top">
    <a id="title" class="navbar-brand" href="#">Wapix</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="../my-wapix">Mis Wapix</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../report">Reportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../profile">Perfil</a>
            </li>
        </ul>
        
        <button class="nav-link btn wapix-btn-red" (click)="logOff()">Salir</button>
    </div>
  </nav>