
































h1 {
    color: #077C9A;
}

.centered {
    position: absolute;
    top: 80px;
    left: calc(50% - 150px);
    display: inline-block;
    margin: auto;
    text-align: center;
}

#container-center {
    width: 300px;
    height: auto;
    padding: 20px 20px 20px 20px;
    background-color: #40A8C4;
    border-radius: 5px;
    text-align: left;
}

label {
    font-weight: bold;
    color: white;
}

input {
    border-radius: 5px;
    width: 260px;
}

.invalid-feedback {
    color: #610202;
    font-weight: bold;
}

#buttons-div {
    display: inline-block;
}

#back-btn {
    position: absolute;
    right: 20px;
}

.wapix-fa-icon {
    margin-right: 10px;
}
