<app-main-navigation-bar></app-main-navigation-bar>
<div class="body-main">
    <div class="body-div">
        <div class="left">
            <h3>¡A jugar!</h3>
            <h4>PIN: 123456</h4>
        </div>

        <div class="right">
            <h4>0</h4>
            <h4>jugadores</h4>
        </div>
    </div>

    <div class="center">
        <div>
            <ul>
                <li>Gussy Rueda</li>
                <li>Luis</li>
                <li>FSevilla</li>
                <li>Rifas Medina</li>
                <li>Mau PAE</li>
                <li>Stompercito Gonzalez</li>
                <li>OkariDiamond</li>
                <li>Gussy Rueda</li>
                <li>Aris</li>
                <li>Luis</li>
                <li>FSevilla</li>
                <li>Rifas Medina</li>
                <li>Mau compa del Rifas</li>
                <li>Stompercito</li>
                <li>OkariDiamond</li>
                <li>ARISTOFANES CRUZ HUANTE</li>
                
            </ul>
        </div>  
        <br>
    </div>
    <button class="btn wapix-btn-yellow btn-play" type="submit">COMENZAR</button>
</div>

<iframe width="10" height="10" title="SHITTYFLUTED"
src="https://www.youtube.com/embed/Q9-fYdy12PY?autoplay=1&loop=1&controls=1">
</iframe>