div.body-div-guest {
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #077C9A;
  animation: mymove 5s infinite;
}

div.container-div {
  position: absolute;
  height: 210px;
  top : calc(50% - 105px);
  left : calc(50% - 70px);
  color: white;
}
  
@keyframes mymove {
  0% {background-color: #077C9A;}
  25% {background-color: #2daccc;}
  50% {background-color: #31ccd1;}
  75% {background-color: #2daccc;}
  100% {background-color: #077C9A;}
}

input {
  text-align: center;
  width: 140px;
  border: 1px gray solid;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
}

.guest-input {
  font-size: 1em;
}

.btn-guest {
  width: 140px;
  font-size: 1.5em;
}

input.ng-touched.ng-invalid {
  border-color: #c71a1a;
}

.container {
  padding-right: 0px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #077C9A;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -45%);
  color: white;
}