select {
    height: 30px;
}

.small-padding {
    padding: 0px 5px 5px 5px;
}

h1 {
    color: #077C9A;
    font-weight: bolder;
}

label {
    font-weight: bold;
    font-size: x-large;
}

button {
    margin-left: 30px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
}
